.cabecalho {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: rgb(242,245,247);
    background: linear-gradient(180deg, rgb(229, 245, 255) 0%, rgba(3,38,110,1) 100%);
    padding-top: .5rem;
    padding-bottom: .5rem;
}

@media screen and (min-width: 768px) {

    .cabecalho {
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
        
    }

    .cabecalho__nome {
        margin-bottom: 1rem;
    }
}